<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://kit.fontawesome.com/5bf87ec69f.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body class="home">
    <header class="home__header">
    <div class="home__header__superior">
    <div class="home__header__conteiner1">
       <div class="home__header--logo">
        <a href="/"><img  src="/img/logo-mercado-liebre.svg" alt=""></a>
       </div>
       <div class="home__header--buscar">
        <form action="">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
       </div>
    </div>
       <div class="home__header--cuotas">
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
       </div>
    </div>
       <nav class="home__header--menu">
    <div class="home__header--menu__uno">
        <ul type="none">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </div>
    <div class="home__header--menu__dos">
        <ul type="none">
            <li><a href="/register">Creá tu cuenta  <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
       </nav>
       <div class="home__header__burger__menu">
        <button><i class="fa-solid fa-bars"></i></button>
       </div>


    </header>

    <main class="main__productos">
        <img class="main__productos__banner" src="/img/img-home-banner.jpg" alt="">
           <h1 class="section__titulo__productos">Basado en tu última visita</h1>
        <section class="main__section">           
            <article class="main__section__cafetera__article">
                <div class="main__section__cafetera__article--img">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
              
            <div class="main__footer__articule">
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>               
                <div class="main__footer__articule__descuento">
                    <h4 class="main__section__precio">$6.770</h4>
                    <p class="main__section__descuento">40% OFF</p>
                </div>
                <div class=" main__arcticulo__descripcion">
                    <p class="main__section__descripciones">Cafetera Moulinex</p> 
                </div>             
                
            </div>
            </article>
            <article class="main__section__cafetera__article">
                <div class="main__section__cafetera__article--img">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="cafetera">
                </div>
              
            <div class="main__footer__articule">
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>               
                <div class="main__footer__articule__descuento">
                    <h4 class="main__section__precio">$230.000</h4>
                    <p class="main__section__descuento">20% OFF</p>
                </div>
                <div class=" main__arcticulo__descripcion">
                    <p class="main__section__descripciones">Macbook Pro</p> 
                </div>             
                
            </div>
            </article>
            <article class="main__section__cafetera__article">
                <div class="main__section__cafetera__article--img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="cafetera">
                </div>
              
            <div class="main__footer__articule">
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>               
                <div class="main__footer__articule__descuento">
                    <h4 class="main__section__precio">$70.500</h4>
                    <p class="main__section__descuento">10% OFF</p>
                </div>
                <div class=" main__arcticulo__descripcion">
                    <p class="main__section__descripciones">Teléfono Samsung</p> 
                </div>             
                
            </div>
            </article>
            <article class="main__section__cafetera__article">
                <div class="main__section__cafetera__article--img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="cafetera">
                </div>
              
            <div class="main__footer__articule">
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>               
                <div class="main__footer__articule__descuento">
                    <h4 class="main__section__precio">$23.200</h4>
                    <p class="main__section__descuento">5% OFF</p>
                </div>
                <div class=" main__arcticulo__descripcion">
                    <p class="main__section__descripciones">Samsung 43</p> 
                </div>             
                
            </div>
            </article>
            
        </section>
      
        
    </main>
  
    <footer class="home__footer">
        <article class="home__footer__article--tarjeta">
            <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article> 
        <article class="home__footer__article--envio"> 
            <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article> 
        <article class="home__footer__article--seguridad">
            <i class="fa-solid fa-user-shield"></i>  
        <h4>Seguridad, de principio a fin</h4>  
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </article>     
         <article class="home__footer__article--copy">  
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article> 

    </footer>
</body>
</html>




