.home__header--menu{
 display: none;
}
.home__header{
    background-color: var(--colorAmarillo);
}
.home__header img{
   height: 40px;
   margin: 20px 0 5px 20px;
}
.home__header--buscar{
    margin: 15px;
}
.home__header--cuotas{
    text-align: center;
    font-family: var(--tipografiaFamilia);
    font-size: 12px;
}
.home__header--menu ul.uno {
    font-family: var(--tipografiaFamilia);
    font-size: 12px;
    padding: 20px 0 0 0;
}
.home__header--menu ul.dos {
    font-family: var(--tipografiaFamilia);
    font-size: 12px;
    padding: 20px 0 0 0;
}
.home__header--menu ul a{
    text-decoration: none;
    color: black;
}

.home__header__burger__menu button{  
    background-color: var(--colorCeleste);
    color: var(--colorGrisClaro);
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: center;
    margin: 15px auto 15px 140px;
}

@media (min-width: 767px){
    .home__header__burger__menu button{
        display: none;
       
    }
    .home__header{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }
    .home__header--menu{
        display: block;
       }
}

@media (min-width: 1023px){
    .home__header--menu{
        display: block;
       }
    
}